.home {
    text-align: center;
    max-width: 50rem;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    position: relative;
    background-color: rgb(211, 170, 180);
    color: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.3);
}

.navigation_shadow {
    background-color: rgb(211, 170, 180);
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.3);
}

.home_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.main_div {
    margin: 2rem
}